extends layout
block head
    title
        | #{title}
block content
    div.container(data-ng-controller="TestController", data-ng-init="setGuests( #{JSON.stringify(guests)} )")
        h1 My Guest List
        h2 Confirmed
        script.
            var g = #{blah}
        div.invite(data-ng-repeat="guest in guests | filter:confirmedFilter")
            a.name(data-ng-href="/guests/") {{guest.firstName}} {{guest.lastName}}
            input(type="checkbox", ng-model="guest.confirmed", ng-change="update(guest)")
        h2 Not Confirmed
        div.invite(data-ng-repeat="guest in guests | filter:notConfirmedFilter")
            p.name {{guest.firstName}} {{guest.lastName}}
            input(type="checkbox", ng-model="guest.confirmed", ng-change="update(guest)")
        h2 Add New Guest
        form(novalidate, name="newGuestForm", ng-submit="addNewGuest()")
            input(  type="text",
                    ng-model="newGuest.firstName",
                    placeholder="First Name"
                    required)
            input(  type="text",
                    ng-model="newGuest.lastName",
                    placeholder="Last Name"
                    required)
            input(  type="text",
                    ng-model="newGuest.address.street1",
                    placeholder="Street"
                    required)
            input(  type="text",
                    ng-model="newGuest.address.street2",
                    placeholder="Street 2 (optional)")
            input(  type="text",
                    ng-model="newGuest.address.city",
                    placeholder="City"
                    required)
            input(  type="text",
                    ng-model="newGuest.address.state",
                    placeholder="State"
                    required)
            input(  type="number",
                    ng-model="newGuest.address.zip",
                    placeholder="Zip"
                    required)
            input(  type="text",
                    ng-model="newGuest.phone",
                    placeholder="Phone")
            input(  type="email",
                    ng-model="newGuest.email",
                    placeholder="email")
            button( type="submit") Add Guest