doctype html
html(data-ng-app="AW")
    head
        title= title
        script(type="text/javascript", src="/javascripts/aw-require.js")
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:300italic,400italic,700italic,400,300,700')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        meta(name="viewport", content="width=device-width")
        block head
    body()
        div#hero

        nav#navigation(data-ng-cloak="data-ng-cloak")
            ul.nav-list(data-ng-controller="NavController", data-ng-init="setData('#{tab}')")
                li.nav-item.in-bl(  class="#{title}",
                                    data-ng-repeat="item in navItems",
                                    data-ng-class="{'active': activeTab == item.title}",
                                    data-ng-switch="activeTab == item.title")
                    a.nav-link.in-bl(   data-ng-switch-when="false",
                                        data-title="{{item.title}}",
                                        data-ng-href="{{item.route}}") {{item.title}}
                    p.nav-link.in-bl(   data-title="{{item.title}}",
                                        data-ng-switch-when="true") {{item.title}}
        div#content-wrap(data-ng-cloak="data-ng-cloak")
            block content

        script(type="text/javascript").
            AW_require([
                'http://maps.google.com/maps/api/js?sensor=false',
                '/javascripts/vendor/angular/angular.min.js',
                '/javascripts/vendor/jquery/jquery-1.11.1.min.js',
                '/javascripts/vendor/cookies-js/src/cookies.js',
                '/javascripts/vendor/jquery/jquery.sticky.js'
            ], 'js');
            AW_require([
                '/javascripts/aw.js',
                '/javascripts/controllers/testController.js',
                '/javascripts/controllers/homeController.js',
                '/javascripts/controllers/infoController.js',
                '/javascripts/controllers/vegasController.js',
                '/javascripts/controllers/rsvpController.js',
                '/javascripts/controllers/registryController.js',
                '/javascripts/controllers/navController.js',
                '/javascripts/controllers/inviteController.js',
                '/javascripts/aw-app.js'
            ], 'js');